@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

:root {
    --PrimaryColor: #F2F0F1;
    --SecondaryColor: #F0F0F0;
    --blackColor: #000000;
    --whiteColor: #FFFFFF;
    --inputText: #909090;
    --descriptionText: #616060;
    --starYellow: #FFD700;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Alatsi', sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    cursor: pointer;
}

input {
    border: none;
    background-color: transparent;
    color: var(--inputText);
    width: 100%;
    padding: 10px;
}

input::placeholder {
    color: var(--inputText);
}

input:focus {
    outline: none;
    
}



.icon {
    font-size: 24px;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
}